Question 1
Load the energy data from the file assets/Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of Energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]

Convert Energy Supply to gigajoules (Note: there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

There are also several countries with parenthesis in their name. Be sure to remove these, e.g. 'Bolivia (Plurinational State of)' should be 'Bolivia'.

Next, load the GDP data from the file assets/world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"

Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file assets/scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries, and the rows of the DataFrame should be sorted by "Rank".

In [1]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

In [2]:
data1 = pd.ExcelFile("Energy Indicators.xlsx")
Energy = pd.read_excel(data1, 0,skiprows = 17)
Energy.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650

In [14]:
GDP = pd.read_csv("world_bank.csv", skiprows = 3)
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,...,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,...,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN

In [15]:
def answer_one():
    # YOUR CODE HERE
    Energy = pd.read_excel("Energy Indicators.xlsx", skiprows = 17)
    Energy.drop(Energy.columns[[0,1]], axis = 1, inplace = True)
    Energy.columns = ["Country", "Energy Supply", "Energy Supply per Capita",  "% Renewable"]
    Energy["Energy Supply"] *=1000000
    Energy.dropna()
    Energy["Country"] = Energy["Country"].str.replace(r'\(.*\)', '')
    Energy["Country"] = Energy["Country"].str.replace('\d+', '')
    Energy["Country"] = Energy["Country"].str.strip()
    for col in Energy:
        Energy[col] = Energy[col].replace('...',np.nan)
    Energy["Country"] = Energy["Country"].str.replace("Republic of Korea","South Korea")
    Energy["Country"] = Energy["Country"].str.replace("United States of America","United States")
    Energy["Country"] = Energy["Country"].str.replace("United Kingdom of Great Britain and Northern Ireland","United Kingdom")
    Energy["Country"] = Energy["Country"].str.replace("China, Hong Kong Special Administrative Region","Hong Kong")
    GDP = pd.read_csv("world_bank.csv", skiprows = 3)
    GDP["Country Name"] = GDP["Country Name"].str.replace("Korea, Rep.","South Korea")
    GDP["Country Name"] = GDP["Country Name"].str.replace("Iran, Islamic Rep.","Iran")
    GDP["Country Name"] = GDP["Country Name"].str.replace("Hong Kong SAR, China","Hong Kong")
    names = GDP.columns.tolist()
    names[names.index("Country Name")] = "Country"
    GDP.columns = names
    GDP = GDP.drop(GDP.iloc[:,1:50], axis = 1)
    GDP.columns = GDP.columns.astype(str).str.split(".").str[0]
    ScimEn = pd.read_excel("scimagojr-3.xlsx")
    merge = pd.merge(ScimEn, Energy, how = "inner", left_on = "Country", right_on = "Country")
    allmerge = pd.merge(merge, GDP, how = "inner", left_on = "Country", right_on = "Country")
    allmerge = allmerge[:15]
    allmerge = allmerge.set_index("Country")
    return allmerge
    raise NotImplementedError()

In [16]:
answer_one()

,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country,,,,,,,,,,,,,,,,,,,,,
China,1,Asiatic Region,303064,301778,3036531,2092737,10.02,273,127191000000,93.0,...,9.570406e+12,1.047568e+13,1.106155e+13,1.123328e+13,1.231041e+13,1.389482e+13,1.427994e+13,1.468767e+13,1.773406e+13,NaN
United States,2,Northern America,184851,181106,2623922,819242,14.19,389,90838000000,286.0,...,1.684319e+13,1.755068e+13,1.820602e+13,1.869511e+13,1.947962e+13,2.052716e+13,2.137257e+13,2.089374e+13,2.299610e+13,NaN
India,3,Asiatic Region,60257,58589,590570,213760,9.80,198,33195000000,26.0,...,1.856722e+12,2.039127e+12,2.103588e+12,2.294798e+12,2.651473e+12,2.702930e+12,2.831552e+12,2.667688e+12,3.173398e+12,NaN
Japan,4,Asiatic Region,52780,52281,557023,132113,10.55,203,18984000000,149.0,...,5.212328e+12,4.896994e+12,4.444931e+12,5.003678e+12,4.930837e+12,5.037835e+12,5.123318e+12,5.040108e+12,4.937422e+12,NaN
United Kingdom,5,Western Europe,47141,45928,748994,132737,15.89,244,7920000000,124.0,...,2.803291e+12,3.087166e+12,2.956574e+12,2.722852e+12,2.699017e+12,2.900791e+12,2.878674e+12,2.756900e+12,3.186860e+12,NaN
Germany,6,Western Europe,42343,41464,528645,115432,12.48,211,13261000000,165.0,...,3.733805e+12,3.889093e+12,3.357586e+12,3.469853e+12,3.690849e+12,3.977289e+12,3.888327e+12,3.846414e+12,4.223116e+12,NaN
Russian Federation,7,Eastern Europe,39424,39189,142937,67935,3.63,96,30709000000,214.0,...,2.292473e+12,2.059242e+12,1.363481e+12,1.276787e+12,1.574199e+12,1.657330e+12,1.693114e+12,1.488322e+12,1.775800e+12,NaN
Canada,8,Northern America,35588,34940,665415,113363,18.70,246,10431000000,296.0,...,1.846597e+12,1.805750e+12,1.556509e+12,1.527995e+12,1.649266e+12,1.725329e+12,1.742015e+12,1.645423e+12,1.990762e+12,NaN
Italy,9,Western Europe,31260,29959,433388,105641,13.86,177,6530000000,109.0,...,2.141924e+12,2.162010e+12,1.836638e+12,1.877072e+12,1.961796e+12,2.091932e+12,2.011286e+12,1.892574e+12,2.099880e+12,NaN
South Korea,10,Asiatic Region,31200,30949,405923,74753,13.01,169,11007000000,221.0,...,1.370795e+12,1.484318e+12,1.465773e+12,1.500112e+12,1.623901e+12,1.724846e+12,1.651423e+12,1.637896e+12,1.798534e+12,NaN
France,11,Western Europe,26848,26320,403834,73792,15.04,190,10597000000,166.0,...,2.811877e+12,2.855964e+12,2.439189e+12,2.472964e+12,2.595151e+12,2.790957e+12,2.728870e+12,2.630318e+12,2.937473e+12,NaN
Iran,12,Middle East,25481,25204,398571,122647,15.64,159,9172000000,119.0,...,4.927756e+11,4.603828e+11,4.082129e+11,4.579546e+11,4.866301e+11,3.309916e+11,2.913629e+11,2.315476e+11,NaN,NaN
Spain,13,Western Europe,24969,24505,427391,77583,17.12,187,4923000000,106.0,...,1.355143e+12,1.371223e+12,1.195600e+12,1.232913e+12,1.312539e+12,1.420994e+12,1.393046e+12,1.281485e+12,1.425277e+12,NaN
Brazil,14,Latin America,23110,22762,219895,53635,9.52,139,12149000000,59.0,...,2.472819e+12,2.456044e+12,1.802212e+12,1.795693e+12,2.063515e+12,1.916934e+12,1.873288e+12,1.448566e+12,1.608981e+12,NaN
Australia,15,Pacific Region,22803,22276,396186,62694,17.37,192,5386000000,231.0,...,1.576335e+12,1.467505e+12,1.350534e+12,1.206685e+12,1.326883e+12,1.428530e+12,1.391953e+12,1.327836e+12,1.542660e+12,NaN

The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, 
but before you reduced this to the top 15 items, how many entries did you lose?

In [21]:
def answer_two():
    import pandas as pd
    import numpy as np
    # YOUR CODE HERE
    Energy = pd.read_excel("Energy Indicators.xlsx", skiprows = 17)
    Energy.drop(Energy.columns[[0,1]], axis = 1, inplace = True)
    Energy.columns = ["Country", "Energy Supply", "Energy Supply per Capita",  "% Renewable"]
    Energy.dropna()
    Energy["Country"] = Energy["Country"].str.replace(r'\(.*\)','')
    Energy["Country"] = Energy["Country"].str.replace('\d+', '')
    Energy["Country"] = Energy["Country"].str.strip()
    for col in Energy:
        Energy[col] = Energy[col].replace("...", np.nan)
    Energy["Country"] = Energy["Country"].str.replace("Republic of Korea","South Korea")
    Energy["Country"] = Energy["Country"].str.replace("United States of America","United States")
    Energy["Country"] = Energy["Country"].str.replace("United Kingdom of Great Britain and Northern Ireland","United Kingdom")
    Energy["Country"] = Energy["Country"].str.replace("China, Hong Kong Special Administrative Region","Hong Kong")
    GDP = pd.read_csv("world_bank.csv", skiprows = 3)
    header = GDP.iloc[0]
    GDP = GDP[1:]
    GDP.columns = header
    GDP["Country Name"] = GDP["Country Name"].str.replace("Korea, Rep.","South Korea")
    GDP["Country Name"] = GDP["Country Name"].str.replace("Iran, Islamic Rep.","Iran")
    GDP["Country Name"] = GDP["Country Name"].str.replace("Hong Kong SAR, China","Hong Kong")
    names = GDP.columns.tolist()
    names[names.index("Country Name")] = "Country"
    GDP.columns = names
    GDP = GDP.drop(GDP.iloc[:,1:50], axis = 1)
    GDP.columns = GDP.columns.astype(str).str.split(".").str[0]
    ScimEn = pd.read_excel("scimagojr-3.xlsx")
    outer = len(pd.concat([ScimEn["Country"],Energy["Country"],GDP["Country"]]).unique())
    inner = (GDP.merge(Energy, left_on = "Country", right_on = "Country", how = "inner").merge(ScimEn,
                                                                                               left_on = "Country",
                                                                                               right_on = "Country",
                                                                                               how = "inner").shape[0])
    return outer - inner
    raise NotImplementedError()

In [22]:
answer_two()

KeyError: 'Country Name'

What are the top 15 countries for average GDP over the last 10 years?

In [23]:
def answer_three():
    top = answer_one()
    top = top.iloc[:,10:]
    average = top.mean(axis = 1)
    return average.sort_values(ascending = False)
    raise NotImplementedError()

In [24]:
answer_three()

Country
United States         1.427639e+13
China                 6.297911e+12
Japan                 4.763311e+12
Germany               3.203038e+12
United Kingdom        2.538192e+12
France                2.446670e+12
Italy                 1.948169e+12
Brazil                1.808081e+12
Russian Federation    1.515224e+12
Canada                1.469418e+12
India                 1.456683e+12
Spain                 1.273388e+12
South Korea           1.110338e+12
Australia             1.097369e+12
Iran                  4.148419e+11
dtype: float64

By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

In [25]:
def answer_four():
    topten = answer_three()
    topfift = answer_one()
    topcountry = topten[topten == topten[5]].index[0]
    diff = topfift.loc[topcountry]["2015"] - topfift.loc[topcountry]["2006"]
    return diff
    raise NotImplementedError()

In [27]:
answer_four()

118652421857.7998

What is the mean energy supply per capita?

In [30]:
def answer_five():
    mes = answer_one()
    mes = mes["Energy Supply per Capita"].mean()
    return mes
    raise NotImplementedError()

In [31]:
answer_five()

157.6

What country has the maximum % Renewable and what is the percentage?

In [32]:
def answer_six():
    # YOUR CODE HERE
    maxenergy = answer_one()
    maxenergy = maxenergy["% Renewable"].sort_values(ascending = False)
    return (maxenergy.index[0], maxenergy.iloc[0])
              #idxmax()            #max()
    raise NotImplementedError()
    
##returns a tuple

In [33]:
answer_six()

('Brazil', 69.64803)

Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

In [34]:
def answer_seven():
    # YOUR CODE HERE
    cit = answer_one()
    cit["Ratio"] = cit["Self-citations"]/cit["Citations"]
    return (cit["Ratio"].idxmax(), cit["Ratio"].max())
    raise NotImplementedError()

In [35]:
answer_seven()

('China', 0.689186772669207)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

In [36]:
def answer_eight():
    pop = answer_one()
    pop["Population Estimate"] = pop["Energy Supply"]/pop["Energy Supply per Capita"]
    return pop["Population Estimate"].sort_values(ascending = False).index[2]
    raise NotImplementedError()

In [37]:
answer_eight()

'United States'

Create a column that estimates the number of citable documents per person.
What is the correlation between the number of citable documents per capita and the energy supply per capita?
Use the .corr() method, (Pearson's correlation).

In [38]:
def answer_nine():
    corr = answer_one()
    corr["Population Estimate"] = corr["Energy Supply"]/corr["Energy Supply per Capita"]
    corr["Citable Documents per Capita"] = corr["Citable documents"]/corr["Population Estimate"]
    #need a float value return
    corr["Citable Documents per Capita"] = corr["Citable Documents per Capita"].astype(float)
    corr["Energy Supply per Capita"] = corr["Energy Supply per Capita"].astype(float)
    return corr["Citable Documents per Capita"].corr(corr["Energy Supply per Capita"])
    raise NotImplementedError()

In [39]:
answer_nine()

0.7272331912434825

Create a new column with a 1 if the country's
% Renewable value is at or above the median for all countries in the top 15, 
and a 0 if the country's% Renewable value is below the median.

In [40]:
def answer_ten():
    renew = answer_one()
    renew["HighRenew"] = [1 if x >= renew["% Renewable"].median()
                         else 0 for x in renew["% Renewable"]]
    return renew["HighRenew"]
    raise NotImplementedError()

In [41]:
answer_ten()

Country
China                 1
United States         0
India                 0
Japan                 0
United Kingdom        0
Germany               1
Russian Federation    1
Canada                1
Italy                 1
South Korea           0
France                1
Iran                  0
Spain                 1
Brazil                1
Australia             0
Name: HighRenew, dtype: int64

Use the following dictionary to group the Countries by Continent, then create a DataFrame that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [56]:
def answer_eleven():
    df2 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    df2["Continent"] = df2.index.to_series().map(ContinentDict)
    #need float value return
    df2["Population Estimate"] = (df2["Energy Supply"]/df2["Energy Supply per Capita"]).astype(float)
    win = df2.set_index("Continent").groupby(level = 0)["Population Estimate"].agg({"Size and Sum":(np.size, np.sum),
                                                                                     "Mean and STD":(np.mean, np.std)})
    return win
    raise NotImplementedError()

In [57]:
answer_eleven()

SpecificationError: nested renamer is not supported


Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

This function should return a Series with a MultiIndex of Continent, then the bins for % Renewable.

In [44]:
def answer_twelve():
    renew2 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    renew2 = renew2.reset_index()
    renew2["Continent"] = [ContinentDict[country] for country in renew2["Country"]]
    renew2["% Renewable"] = pd.cut(renew2["% Renewable"], 5)
    return renew2.groupby(["Continent", "% Renewable"]).size()
    raise NotImplementedError()

In [45]:
answer_twelve()

Continent      % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Australia      (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    0
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
               (42.701, 56.174]    0
               (56.174, 69.648]    0
North America  (2.212, 15.753]     1
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
South America  (2.212, 15.753]     0
               (15.753, 29.227]    0
               (29.227, 42.701]    0
               (42.701, 56.174]    0
               (56.174, 69.648]    1
dtype: int64

Convert the Population Estimate series to a string with thousands separator (using commas). Use all significant digits (do not round the results).

In [46]:
def answer_thirteen():
    popest = answer_one()
    popest["PopEst"] = (popest["Energy Supply"]/popest["Energy Supply per Capita"])
    return popest["PopEst"].apply(lambda x: "{0:,}".format(x)).astype(str)
    raise NotImplementedError()

In [47]:
answer_thirteen()

Country
China                 1,367.6451612903227
United States          317.61538461538464
India                 1,276.7307692307693
Japan                  127.40939597315436
United Kingdom          63.87096774193548
Germany                 80.36969696969697
Russian Federation                  143.5
Canada                  35.23986486486486
Italy                  59.908256880733944
South Korea             49.80542986425339
France                  63.83734939759036
Iran                    77.07563025210084
Spain                  46.443396226415096
Brazil                 205.91525423728814
Australia              23.316017316017316
Name: PopEst, dtype: object